{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background: #241468">
    <div class="overlay"></div>
          <div class="site-heading">
          </div>
  </header>

  <!-- Main Content -->

<div class="about-title">
    <h1>Colour Palette Generator</h1>
    <h4>This website is a simple version inspired on</h4>
        <a class="nav-link" href="http://www.coolphptools.com/color_extract#demo">coolphptools</a>
        <h4>as part of a Professional Portfolio of Python Bootcamp</h4>
</div>

{% include "footer.html" %}